<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/Sabi-Bachelor-0108-Edit.jpg" alt="profile-pic" style="width:180px;height:240px;"/>
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <span class="skills">{{ site.skills }}</span>
          <hr class="star-light" />
        </div>
        <div class="row">
          <p>Welcome to my personal website! <br> 
             I am a postdoctoral researcher interested in quantum many-body effects, dynamics and spin transport in condensed matter and molecular systems. <br>
             You can find more information about myself by clicking on the links below or scroll though to check out my main research interests:
          </p>
          <div class="col-lg-4 col-lg-offset-2">
            <a href="conferences.html" style="color: #ffffff;">SHORT CV</a>
          </div>
          <div class="col-lg-4">
            <a href="_layouts/side_page.html" style="color: #ffffff;">PUBLICATIONS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

   
 <!--   <a href="publications.html" style="color: #ffffff;">CONFERENCES</a>    <a href="publications.html" style="color: #ffffff;">MY HOBBIES</a>
-->
